/* CSS Document
*
* @autor Fernanda Pieretti
* @data nov2015
* @ref base.css
*
*/


@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

@font-face {
    font-family: 'novecentowide_light';
    src: url('fonts/novecentowide-light-webfont.eot');
    src: url('fonts/novecentowide-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-light-webfont.woff2') format('woff2'),
         url('fonts/novecentowide-light-webfont.woff') format('woff'),
         url('fonts/novecentowide-light-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-light-webfont.svg#novecento_widelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novecentowide_normal';
    src: url('fonts/novecentowide-normal-webfont.eot');
    src: url('fonts/novecentowide-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-normal-webfont.woff2') format('woff2'),
         url('fonts/novecentowide-normal-webfont.woff') format('woff'),
         url('fonts/novecentowide-normal-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-normal-webfont.svg#novecento_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novecentowide_medium';
    src: url('fonts/novecentowide-medium-webfont.eot');
    src: url('fonts/novecentowide-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-medium-webfont.woff2') format('woff2'),
         url('fonts/novecentowide-medium-webfont.woff') format('woff'),
         url('fonts/novecentowide-medium-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-medium-webfont.svg#novecento_widemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novecentowide_bookbold';
    src: url('fonts/novecentowide-bold-webfont.eot');
    src: url('fonts/novecentowide-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-bold-webfont.woff2') format('woff2'),
         url('fonts/novecentowide-bold-webfont.woff') format('woff'),
         url('fonts/novecentowide-bold-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-bold-webfont.svg#novecento_wide_bookbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {margin:0;border:0;padding:0}
html { font-family: 'Noto Sans', sans-serif; color:#58595B; font-size:16px; font-weight: 300; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body,textarea,input,button{ font-family: 'Noto Sans', sans-serif }
img {max-width:100%}

.desktop{display:block !important}
.mobile{display:none !important}

.animationload {position:fixed;top:0;left:0;right:0;bottom:0;z-index:999999;background:#000 url(../_imagens/logo.png) no-repeat center;opacity:0.8}
.os-animation{opacity: 0;}  
.os-animation.animated{opacity: 1;} 

