/* CSS Document
*
* @autor Fernanda Pieretti
* @data nov2015
* @ref flexslider.css
*
* jQuery FlexSlider v2.2.0
* http://www.woothemes.com/flexslider/
*
* Copyright 2012 WooThemes
* Free to use under the GPLv2 license.
* http://www.gnu.org/licenses/gpl-2.0.html
*
* Contributing author:Tyler Smith (@mbmufffin)
*/

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus{outline:none}
.slides, .flex-control-nav, .flex-direction-nav{margin:0;padding:0;list-style:none}
.flexslider{margin:0;padding:0}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden}
.flex-pauseplay span{text-transform:capitalize}

.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
html[xmlns] .slides{display:block}
* html .slides{height:1%}
.no-js .slides > li:first-child{display:block}

.flexslider {position:relative}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}
.flex-disabled{display:none}

/* Loading */
#slidereventos.loading{width:100%;height:340px;position:relative;overflow:hidden}
#slidereventos.loading:after{content:'';width:100%;height:100%;position:absolute;z-index:4;overflow:hidden;background:#fff url(../_imagens/site/loading.png) no-repeat center}

/* Diretion Nav  */
.flex-direction-nav{height:0}
.flex-direction-nav li{display:inline-block}
.flex-direction-nav li a{width:32px;height:60px;text-indent:-99999px;display:block;position:absolute;z-index:2;top:60px}
.flex-direction-nav li a.flex-prev{background:url(../_imagens/site/seta-esquerda.png) no-repeat center;left:0}
.flex-direction-nav li a.flex-next{background:url(../_imagens/site/seta-direita.png) no-repeat center;right:0}


/* Control Nav */
.flex-control-nav{width:100%;height:40px;background:url(../_imagens/fundos/bg-06.png) repeat;position:absolute;z-index:10;bottom:0;left:0;text-align:center}
.flex-control-nav li{display:inline-block;margin:0 3px}
.flex-control-nav li a{display:block;width:15px;height:15px;background:url(../_imagens/site/bullet.png) no-repeat center;text-indent:-99999px;margin-top:13px;cursor:pointer}
.flex-control-nav li a.flex-active{background:url(../_imagens/site/bullet1.png) no-repeat center}

