/* CSS Document
*
* @autor Fernanda Pieretti
* @data nov2015
* @ref styles.css
*
*/

#header{width:100%;height:auto;float:left;clear:both;background:url(../_imagens/fundos/bg.png) repeat;position:fixed;z-index:20;top:0;left:0}
#header .logo{display:inline-block;margin:12px 0}
#header .logo img{display:block}
#header ul{display:block;text-align:right}
#header ul li{display:inline-block;padding:0 15px;margin:10px 0;position:relative;background:url(../_imagens/fundos/barra.png) no-repeat left center;text-align:left}
#header ul li:first-child{background:none}
#header ul li a{color:#fff;text-decoration:none;font-size:18px;display:block;line-height:54px;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}
#header ul li span{position:absolute;z-index:9999;top:100%;left:0;width:180px;display:none;padding-top:12px}
#header ul li span a{display:block;padding:0;font-size:14px;font-weight:300;line-height:normal;padding:10px 15px;background:url(../_imagens/fundos/bg.png) repeat;margin-bottom:1px}
#header ul li a:hover,#header ul li a.select{color:#e2b124;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}
#header ul li:hover span{display:block}
#header #menuDropDown{display:none;cursor:pointer;width:28px;height:28px;float:right;background:url(../_imagens/site/icon-menu.png) no-repeat right center;margin-top:12px}
#header .form{display:block;background:#2294D3;height:71px;padding:13px 10px;margin-right:-15px;border-bottom:1px solid #000}
#header .form .login{width:48%;height:43px;line-height:43px;float:left;background:none;border:1px solid #fff;border-radius:100px;text-indent:20px;font-size:16px;outline:none;color:#fff}
#header .form .senha{width:63%;height:43px;line-height:43px;float:left;background:none;border:none;text-indent:20px;font-size:16px;outline:none;color:#fff}
#header .form .btn{width:41px;height:41px;float:right;background:url(../_imagens/site/icon-seta.png) no-repeat center;border:none;cursor:pointer;outline:none}
#header .form span{width:48%;height:43px;line-height:43px;float:right;border:1px solid #fff;border-radius:100px}

#banner{width:100%;height:100vh;min-height:400px;float:left;clear:both;background:url(../_imagens/fundos/bg-05.png) repeat}
#banner .item,#banner .carousel-inner{height:100vh}
#banner .item{width:100%;height:100%;padding:0 30%}
#banner .redes{position:absolute;margin-top:-29px;z-index:16;right:10px}
#banner .carousel{height:100vh;min-height:400px}
#banner .carousel-caption{width:100%;height:100vh;display:table-cell;vertical-align:middle;position:relative;z-index:1}
#banner .carousel-caption h2{font-family:novecentowide_bookbold,sans-serif;font-size:40px;text-transform:uppercase;color:#fff;cursor:default;display:block}
#banner .carousel-caption p{color:#fff;font-size:20px;cursor:default;margin:30px 0}
#banner .carousel-caption a{color:#fff;background:url(../_imagens/fundos/bg-05.png) repeat;font-size:25px;font-family:novecentowide_bookbold,sans-serif;cursor:pointer;text-decoration:none;padding:5px 40px;border:1px solid #fff;border-radius:50px;text-transform:uppercase;font-weight:600;display:inline-block;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}
#banner .carousel-caption a:hover{background:url(../_imagens/fundos/bg-06.png) repeat;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}

#solucoes{width:100%;height:auto;float:left;clear:both;background:#fff;padding:30px 0 100px}
#solucoes .link{display:block;text-align:center;color:#111623;font-size:45px;font-weight:600;text-decoration:none;line-height:160px}
#solucoes .borda{border-right:1px dashed #6D6E71}
#solucoes ul{display:block;text-align:center;list-style:none;margin-top:40px;border:3px solid #E6E7E8;width:100%;float:left;clear:both}
#solucoes ul li{width:25%;height:500px;float:left;padding:20px 0 0;background:#F1F2F2;border-left:3px solid #E6E7E8}
#solucoes ul li:first-child{border-left:none}
#solucoes ul li:nth-child(2n){background:#fff}
#solucoes ul li p{display:block;cursor:default;margin:0 30px;padding-top:30px;border-top:1px dashed #6D6E71;color:#111623;font-size:18px}

#consultivo{width:100%;height:auto;float:left;clear:both;background:url(../_imagens/fundos/bg-04.png) no-repeat top center;padding:110px 0 0;margin-top:-200px;position:relative;z-index:4}
#consultivo h2{font-size:30px;text-transform:uppercase;color:#fff;cursor:default;font-family:novecentowide_bookbold,sans-serif;background:url(../_imagens/itens/5.png) no-repeat left 7px;padding:20px 110px 60px 145px;display:block}
#consultivo p{color:#fff;cursor:default;margin-bottom:20px}
#consultivo img{display:block;margin-top:50px}
#consultivo .link{color:#fff;font-size:17px;cursor:pointer;text-decoration:none;padding:5px 30px;border:1px solid #fff;border-radius:50px;text-transform:uppercase;font-weight:600;font-family:novecentowide_bookbold,sans-serif;display:inline-block;margin-top:20px;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}
#consultivo .link:hover{background:#fff;color:#2294D3;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}

#express{width:100%;height:auto;float:left;clear:both;background:#fff url(../_imagens/fundos/bg-03.png) no-repeat top center;padding:120px 0 200px}
#express h2{font-size:30px;text-transform:uppercase;color:#000;cursor:default;font-family:novecentowide_bookbold,sans-serif;background:url(../_imagens/itens/6.png) no-repeat left 7px;padding:20px 110px 60px 145px;display:block;margin-top:-50px}
#express p{color:#000;cursor:default;margin-bottom:20px}
#express .link{color:#000;font-size:17px;cursor:pointer;text-decoration:none;padding:5px 30px;border:1px solid #000;border-radius:50px;text-transform:uppercase;font-weight:600;font-family:novecentowide_bookbold,sans-serif;display:inline-block;margin-top:20px;float:right;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}
#express .link:hover{background:#000;color:#fff;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}

#reverso{width:100%;height:auto;float:left;clear:both;background:url(../_imagens/fundos/bg-02.png) top center no-repeat #1EA850;padding:120px 0 0;margin-top:-200px;position:relative;z-index:4}
#reverso h2{font-size:30px;text-transform:uppercase;color:#fff;cursor:default;font-family:novecentowide_bookbold,sans-serif;background:url(../_imagens/itens/7.png) no-repeat left 7px;padding:20px 150px 60px 145px;display:block;margin-top:30px}
#reverso p{color:#fff;cursor:default;margin-bottom:20px}
#reverso img{display:block;margin-top:50px}
#reverso .link{color:#fff;font-size:17px;cursor:pointer;text-decoration:none;padding:5px 30px;border:1px solid #fff;border-radius:50px;text-transform:uppercase;font-weight:600;font-family:novecentowide_bookbold,sans-serif;display:inline-block;margin-top:20px;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}
#reverso .link:hover{background:#fff;color:#1EA850;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}
#reverso-fim{width:100%;height:110px;float:left;clear:both;background:url(../_imagens/fundos/bg-03.png) no-repeat bottom center}

#eventos{width:100%;height:auto;float:left;clear:both;background:#fff url(../_imagens/fundos/bg-01.png) no-repeat top center;padding:80px 0 60px}
#eventos h2{font-size:30px;text-transform:uppercase;color:#000;cursor:default;font-family:novecentowide_bookbold,sans-serif;text-align:right;display:block;margin-bottom:40px}
#eventos .slides{text-align:center}
#eventos .slides .img{display:table;position:relative;margin:auto}
#eventos .slides .img img{display:block;width:170px;height:170px;border-radius:500px}
#eventos .slides .img span{display:block;width:50px;height:50px;background:#2294D3;position:absolute;z-index:1;bottom:-10px;right:0;border-radius:50px;color:#fff;line-height:14px;font-size:13px;padding:7px 10px;cursor:default}
#eventos .slides .img span b{display:block;border-top:2px solid #fff;margin-top:2px;padding-top:2px}
#eventos .slides h3{display:block;font-size:16px;margin-top:20px;color:#000;cursor:default}
#eventos .slides p{display:block;font-size:14px;margin:10px 0;color:#58595B;cursor:default}
#eventos .slides span{font-size:12px;cursor:default;display:inline-block;margin:auto;font-weight:500;color:#000}
#eventos .slides span img{float:left;margin-right:5px}
#eventos .slides a{display:block;text-decoration:none;font-size:15px;color:#EF4135;font-weight:600;font-family:novecentowide_bookbold,sans-serif;margin:15px auto 0;border:2px solid #EF4135;border-radius:50px;width:140px;line-height:30px;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}
#eventos .slides a:hover{background:#EF4135;color:#fff;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}

#quemsomos{width:100%;height:auto;float:left;clear:both;background:#F1F2F2;padding:60px 0}
#quemsomos h2{font-size:30px;text-transform:uppercase;color:#000;cursor:default;font-family:novecentowide_bookbold,sans-serif;display:block;margin-bottom:40px}
#quemsomos h3{font-size:25px;text-transform:uppercase;color:#2294D3;cursor:default;font-family:novecentowide_bookbold,sans-serif;display:block;margin:50px 0 10px}
#quemsomos p{display:block;cursor:default;margin-bottom:20px}
#quemsomos .itens{margin-top:50px}
#quemsomos .itens p{background:url(../_imagens/site/icon-check.png) no-repeat left top;padding-left:30px;height:70px;margin:30px 0 0}
#quemsomos .itens p strong{color:#2294D3}
#quemsomos .borda{display:block;border-right:1px dashed #6D6E71;border-left:1px dashed #6D6E71;padding:0 25px;height:230px}

#contato{width:100%;height:auto;float:left;clear:both;background:#2294D3;padding:100px 0}
#contato h2{font-size:30px;text-transform:uppercase;color:#fff;cursor:default;font-family:novecentowide_bookbold,sans-serif;display:block;margin-bottom:40px}
#contato h3{font-size:20px;text-transform:uppercase;color:#fff;cursor:default;font-family:novecentowide_bookbold,sans-serif;display:block;margin-bottom:30px;padding-bottom:30px;border-bottom:1px dashed #fff}
#contato p{color:#fff;cursor:default;font-size:14px}
#contato iframe{display:block;width:100%;height:220px;padding:10px;border:1px dashed #fff;float:left;clear:both}
#contato .form{display:block}
#contato .form input[type=text]{width:100%;height:30px;line-height:30px;text-indent:10px;margin-bottom:10px;border:none}
#contato .form input[type=submit]{width:100%;height:30px;line-height:30px;border:1px solid #fff;border-radius:50px;cursor:pointer;color:#fff;text-transform:uppercase;background:none;font-size:16px;font-family:novecentowide_bookbold,sans-serif;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}
#contato .form input[type=submit]:hover{background:#fff;color:#2294D3;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out}
#contato .form textarea{width:100%;height:100px;line-height:30px;padding:10px;border:none;margin-bottom:5px;resize:none}

#footer{width:100%;height:auto;float:left;clear:both;background:#111623;padding:40px 0}
#footer p{cursor:default;color:#fff;font-size:12px}
#footer .logo{height:30px;margin-bottom:5px}
#footer .links{float:right}
#footer .links a{float:left;color:#fff;font-size:12px;text-decoration:underline;margin-left:10px;line-height:57px}
#footer .links a img{float:left;margin-top:15px}
#footer .links a:last-child{margin-left:3px}

@media (max-width: 767px) {
	.desktop{display:none !important}
	.mobile{display:block !important}
	video{width:250%;height:auto;position:fixed;z-index:-1;top:0;left:-75%}
	
	#header{height:54px}
	#header .logo{margin:9px 0}
	#header .logo img{height:30px}
	#header ul{display:none;width:100%;float:left;clear:both;text-align:left}
	#header ul li{padding:0;line-height:15px;background:none;display:block}
	#header ul li a{line-height:28px}
	#header ul li span{display:block;position:inherit;top:0;left:0;background:none}
	#header.ativo{height:auto}
	#header.ativo ul{display:block}
	#header #menuDropDown{display:block}
	#header .form{height:39px;padding:8px 10px;width:300px;float:right;margin-right:-15px}
	#header .form span,#header .form .login,#header .form .senha{height:25px;line-height:25px;font-size:13px}
	#header .form .btn{height:22px;width:22px;background:url(../_imagens/site/icon-seta-2.png) no-repeat center}
	#banner .item{padding:0 10%;text-align:center}
	#banner .item h2{font-size:30px}
	#banner .item p{font-size:16px}
	#solucoes .borda{border:none;border-bottom:1px dashed #6D6E71}
	#solucoes .link{font-size:32px;line-height:80px}
	#solucoes ul li{width:100%;border:none;height:auto;padding-bottom:30px}
	#consultivo{margin-top:-100px}
	#consultivo h2{padding:150px 0 0;margin:-127px 0 30px}
	#express h2{padding:150px 0 0;margin:0 0 30px}
	#express .link{float:none}
	#reverso h2{padding:150px 0 0;margin:-127px 0 30px}
	#eventos h2{text-align:center}
	#quemsomos .borda{padding:0;border:none;height:auto}
	#quemsomos .itens p{height:auto}
	#contato .form input[type=text]{margin-bottom:10px}
	#contato .form textarea{margin:0 0 5px}
	#contato iframe{margin:40px 0;float:none}
	#contato,#quemsomos{padding:50px 0}
	#contato h2,#contato h3,#contato p{text-align:center}
	#footer{text-align:center}
	#footer a{float:none}
	#footer p{margin-bottom:30px}
	#footer .links{float:none}
	#footer .links a{float:none;display:block;line-height:normal}
	#footer .links a img{float:none;margin-top:15px}
	#footer .links a:first-child +a +a{float:none;display:inline;margin:auto}
	#footer .links a:first-child +a +a +a{float:none;display:inline;margin:auto}
}

@media (max-width: 450px) {
	video{display:none}
	#banner .item.vd1{background:url(../_videos/1.jpg) no-repeat center;background-size:cover}
	#banner .item.vd2{background:url(../_videos/2.jpg) no-repeat center;background-size:cover}
	#banner .item.vd3{background:url(../_videos/3.jpg) no-repeat center;background-size:cover}
	#banner .item.vd4{background:url(../_videos/4.jpg) no-repeat center;background-size:cover}
	#banner .item.vd5{background:url(../_videos/5.jpg) no-repeat center;background-size:cover}
	#banner .item.vd6{background:url(../_videos/6.jpg) no-repeat center;background-size:cover}
	#banner .item h2{font-size:22px}
	#banner .item p{font-size:12px;margin:10px 0}
	#banner .item a{font-size:18px}
	#solucoes .link{font-size:30px;line-height:70px}
	#consultivo{margin-top:-70px}
	#consultivo .link{font-size:15px}
}

@media (min-width: 768px) {
	video{width:130%;height:auto;position:fixed;z-index:-1;top:0;left:-15%}
	#header ul li{padding:0 1px 0 5px}
	#header ul li a{font-size:13px}
	#header .logo{margin:12px 0 0}
	#header .logo img{height:31px}
	#header .form{padding:12px 10px;height:55px}
	#header .form span{height:30px;line-height:30px}
	#header .form .login,#header .form .senha{height:30px;line-height:30px;font-size:13px;text-indent:10px}
	#header .form .senha{width:56%}
	#header .form .btn{height:28px;width:28px;background:url(../_imagens/site/icon-seta-2.png) no-repeat center}
	#header ul li{margin:3px 0}
	#header ul li a{line-height:49px}
	#banner .item{padding:0 10%}
	#solucoes .link{font-size:32px;line-height:100px}
	#solucoes ul li{height:400px}
	#solucoes ul li p{font-size:15px;margin:0 20px}
	#consultivo h2{padding:45px 110px 70px 145px;margin-bottom:30px}
	#express h2{padding:45px 110px 70px 145px;margin:30px 0}
	#reverso h2{padding:45px 110px 70px 145px;margin:30px 0}
	#quemsomos .itens p{height:auto}
	#contato iframe{margin:40px 0}
	#contato h3{margin-top:40px}
}

@media (min-width: 992px) {
	video{width:110%;height:auto;position:fixed;z-index:-1;top:0;left:-5%}
	#header .logo img{height:30px;margin:0}
	#header .form{padding:14px 10px;height:55px}
	#header .form span{height:26px;line-height:26px}
	#header .form .login,#header .form .senha{height:26px;line-height:26px;font-size:13px;text-indent:20px}
	#header .form .btn{height:23px;width:23px;background:url(../_imagens/site/icon-seta-2.png) no-repeat center}
	#header ul li{margin:10px 0;padding:0 10px}
	#header ul li a{line-height:35px}
	#banner .item{padding:0 18%}
	#solucoes ul li{height:450px}
	#solucoes ul li p{font-size:18px;margin:0 30px}
	#solucoes .link{font-size:45px;line-height:120px}
	#consultivo h2{padding:20px 110px 60px 145px;margin:0}
	#express h2{padding:20px 110px 60px 145px;margin:0}
	#reverso h2{padding:20px 150px 60px 145px;margin:30px 0 0}
	#quemsomos .itens p{height:70px}
	#contato iframe{margin:0}
	#contato h3{margin-top:0}}
}

@media (min-width: 1110px) {
	#header ul li a{font-size:16px}
	#header .logo img{height:30px;margin:0}
	#header .form{padding:15px 20px}
	#header .form span,#header .form .login,#header .form .senha{height:26px;line-height:26px;font-size:13px}
	#header .form .btn{height:23px;width:23px;background:url(../_imagens/site/icon-seta-2.png) no-repeat center}
}

@media (min-width: 1200px) {
	video{width:100%;height:auto;position:fixed;z-index:-1;top:0;left:0}
	#header ul li{padding:0 15px}
	#header ul li a{font-size:17px}
	#header .logo img{height:30px}
	#header .form{padding:15px 20px}
	#header .form span,#header .form .login,#header .form .senha{height:26px;line-height:26px;font-size:13px}
	#header .form .btn{height:23px;width:23px;background:url(../_imagens/site/icon-seta-2.png) no-repeat center}
	#header .form .senha{width:63%}
	#banner .item{padding:0 22%}
	#solucoes ul li{height:500px}
}
@media (min-width: 1300px) {
	#header ul li a{font-size:17px}
}
